<div style="background-image: url(assets/banner.png); background-size: cover; height: 58.85em;">
  <section class="header">
    <mat-card>
      <a routerLink="/login"><img [src]='logoName' [alt]='Logo'></a>
     </mat-card>
  </section>
<main class="container-fluid">
  <div class="row">
    <h1 style="text-align: center; font-size: 3em; color: white;">Full Stack Workshop</h1>
    <div class="col-md-6" style="padding-top: 16em;">
      <h1 style="color: white; font-size: 3em;">Digital Lync <br>Welcomes <br>You To </h1>
    </div>
    <div class="col-md-6" style="padding-top: 5em;">
       <div class="row">
        <div class="col-md-offset-2 col-md-6">
            <mat-card>  
                <form class="example-form" [formGroup]='userForm' (ngSubmit)='loginUser(userForm)'>
                  <h1 style="text-align: center;">Login</h1>
                  <h4 *ngIf='response' style="color: red; font-weight: normal; text-align: center;">{{response.message}}</h4>
                    
                    <div  class="col-md-12" style="padding: 0px;">
                        <mat-form-field class="example-full-width" style="width: 100%; padding: 20px;">
                            <input matInput placeholder="Email" formControlName="email">
                          </mat-form-field>
                    </div>
                    <div  class="col-md-12" style="padding: 0px;">
                      <mat-form-field class="example-full-width" style="width: 100%; padding: 0px 20px 20px 20px;">
                          <input matInput placeholder="Password" formControlName="password">
                        </mat-form-field>
                  </div>
                    
                    <div  style="text-align: center;">
                      <button mat-raised-button color='accent' style="background-color: #1b80c3; font-size: 20px;">Login Me!</button>
                    </div>
                   <div style="text-align: center; margin-top: 30px;">
                    <a routerLink='/register' style="text-align: center; background-color:  #1b80c3; color: white; font-size: 20px; padding: 10px 20px 10px 20px; ">Register</a>
                   </div>
                  </form>
            </mat-card>
        </div>
       </div>
    </div>
  </div>

</main>

</div>